body {
    font-family: 'Oswald', sans-serif;
    margin: 2em;
    padding-bottom: 10% ;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    display: flex;
    align-items: center;
    background-color: #61787F;
    padding: 10px 20px;
    color: white;
    border: 1px solid black;
}

.header__logo {
    height: auto;
    width: 5.875em;
    margin-right: 0.625em;
}

h1 {
    margin: 0;
    font-size: 2em;
    font-weight: lighter;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

.best-movie__content {
    display: grid;
    position: relative;
    width: 100%;
    margin: 0.5em;
    border: 5px solid black;
    grid-template-columns: auto 1fr;

}

.best-movie__image{

    margin : 0.5em;
    grid-column: 1;
    height: 350px;
    width: auto;
    object-fit: contain;
    object-position: center; /* Centre l'image lors du découpage */
}

.best-movie__info {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto 1fr auto;

}
.best-movie__title {
    font-size: 2em;
    font-weight: bold;
}

.best-movie__summary {
    font-size: 1.5em;
    font-weight: lighter;
}

.button {
    background-color: #FA0B0B;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button__details--primary {
    border-radius : 25px;
    justify-self: end;
    font-size: 1em;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
    margin-bottom: 1em;
    margin-right: 0.5em;


}

.button__details--primary:hover {
    background-color: #c00;
}



/* Styles pour la carte de film */
.movie-card {
    position: relative;
    overflow: hidden;
    width: 100%; /* Assurez-vous que la largeur soit fixe ou relative à son conteneur */
    aspect-ratio: 1 / 1; /* Propriété moderne pour forcer un carré */
    max-width: 300px; /* Vous pouvez ajuster la taille maximale si nécessaire */

}

.movie-card__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;

}

/* Overlay pour le titre et le bouton */
.movie-card__overlay {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 30%;
    max-height : 30%;
    display: grid;
    grid-template-columns: 70% 30%; /* Deux colonnes : 1 pour le titre et 1 pour le bouton */
    grid-template-rows : 50% 50%;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 10px; /* Espacement intérieur */
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* Titre du film */
.movie-card__title {
    color: #fff;
    grid-column: 1;
    grid-row: 1;
    font-size: 1.3em;
    font-weight: 600;

    max-width: 90%;
    white-space: nowrap; /* Empêche le texte de se couper en plusieurs lignes */
    overflow: clip; /* Cache le texte qui dépasse du conteneur */
    text-overflow: ellipsis; /* Ajoute "..." si le texte dépasse */

    justify-self: start; /* Aligné à gauche */
    align-self: start; /* Aligné en haut */
}

/* Bouton "Détails des movie cards" */
.button__details--secondary {
    background-color: #2D2C2C;
    color: #fff;
    grid-column : 2;
    grid-row: 2;
    overflow: hidden;
    border: none;
    padding: 5px 8px;
    height : auto;
    margin-right: 30%;
    cursor: pointer;
    border-radius: 25px;
    font-size: 0.8em;
    justify-self: end;
    align-self : end;
    font-weight: 500;
    max-width: 100%;
    align-content: center;
    transition: background-color 0.3s ease;

}

/* Effet de survol pour le bouton */
.button__details--secondary:hover {
    background-color: #666;
}

.category__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15% 5%;
    max-width: 100%;

}

.category {
    width: 100%; /* Assure que le conteneur parent s'étend sur toute la largeur de la page */
    overflow: hidden; /* Empêche le dépassement de la grille */
    padding: 20px; /* Ajoute de l'espacement intérieur */
}

/* Styles pour la modale */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto;
}

.modal--hidden {
    display: none;
}

.modal__content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    grid-template-rows: auto auto auto 1fr auto; /* Cinq lignes pour chaque section */
    gap: 1em; /* Espacement entre les éléments */
    padding: 20px;
    max-width: 800px;
    width: 90%;
    background: #fff;
    border-radius: 8px;
    position: relative;
}

/* Positionnement des éléments dans la grille */
.modal__header {
    grid-column: 1; /* Colonne 1 */
    grid-row: 1; /* Ligne 1 */
    align-self: start; /* Aligner en haut */
}

.modal__image {
    grid-column: 2; /* Colonne 2 */
    grid-row: 1; /* Ligne 1 */
    max-width: 100%;
    object-fit: cover;
}

.modal__long_description {
    grid-column: 1 / -1; /* Occupe toute la largeur (colonne 1 à 2) */
    grid-row: 2; /* Ligne 2 */
}

.modal__actors {
    grid-column: 1 / -1; /* Occupe toute la largeur (colonne 1 à 2) */
    grid-row: 3; /* Ligne 3 */
}

.modal__close-button {
    grid-column: 1 / -1; /* Centré sur toute la largeur */
    grid-row: 4; /* Ligne 4 */
    justify-self: center; /* Centrer horizontalement */
    padding: 10px 20px;
    background-color: #FA0B0B;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.modal__close-button:hover {
    background-color: #c00;
}


/* Ajustement pour les tablettes */
@media (min-width: 426px) and (max-width: 1024px) {
    .header__logo {
        height: auto;
        width: 7.0625em;
        margin-right: 0.625em;
    }

    h2 {
        font-size: 1.5em;
    }

    .category__grid > .movie-card:nth-child(n+5) {
        display: none; /* Masque les cartes de films à partir de la 3ème */
    }

    .category__grid {
        grid-template-columns: repeat(2, 1fr) !important; /* 2 colonnes */
        grid-auto-rows: auto !important; /* 2 lignes */
        gap : 1em;
        max-height: none !important;
        overflow: hidden; /* Cache les films supplémentaires */
    }

    .toggle-button {
        display: inline-block;
    }
}

/* Ajustement pour les mobiles */
@media (max-width: 425px) {
    header {
        padding: 10px;
    }

    .header__logo {
        height: auto;
        width: 11.375em;
    }

    h1 {
        display: none;
    }

    h2 {
        font-size: 1.5em;
    }

    .category__grid {
        grid-template-columns: 1fr !important; /* 1 colonne */
        grid-template-rows: auto; /* Ajustement automatique des lignes */
        max-height: none !important;

    }

    .category__grid > .movie-card:nth-child(n+3) {
        display: none; /* Masque les cartes de films à partir de la 3ème */
    }

    .best-movie__content {
        display: flex; /* Passez en flex pour une mise en colonne facile */
        flex-direction: column; /* Les éléments s'empilent en colonne */
        align-items: center; /* Centre horizontalement tous les éléments */
        margin: 0 auto; /* Centre la section */
        padding: 1em;

    }

    .best-movie__image {
        width: 100%; /* L'image occupe toute la largeur */
        max-width: 350px; /* Ajustez si nécessaire */
        height: auto; /* Ajustement automatique de la hauteur */
        margin: 0; /* Supprimez les marges pour un alignement propre */
    }
    .toggle-button {
        display: inline-block;
    }

    }


